
<link rel="stylesheet" href="css/estilo.css">
<link rel="stylesheet" href="../css/estilo1.css" >

 <script>
     
    window.onload = verificar();
    function verificar(){
    let token = localStorage.getItem('token');
    let us = localStorage.getItem('us');
    console.log(us);
    if (token ==""){
     window.location.href="/";
    }}
  </script>
  <link rel="stylesheet" href="../css/estilo1.css" >
  <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/productos/catalogo">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/productos/verProductos">Productos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/servicios/verServicios">Servicios</a>
      </li>
     
     
    </ul>
  </div>
  <div  align="center">
   <img src="https://img.icons8.com/office/40/000000/user.png"/><font size=3>{{us}}</font> 

  <script>
  function myFunction(){
    localStorage.removeItem('token');
    window.location.href="/";
  };
    </script>
 <a href="/editar/editarPerfil" class="boton">editar</a>
  <button class="boton" onclick="myFunction()">Cerrar Sesión

  </button>
   </div>   
    
</nav>
   
       
    
  </body>
  <div class="container1">

    <div class="row shadow-lg p-3 mb-5">
        <div class="col">
            <table id="tablaServicio" class="table table-striped table-bordered" style="width:100%"  >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>nombre</th>
                        <th>tipo servicio</th>
                        <th>sub Categoria</th>
                        <th>precio</th>
                        <th> <a href='/servicios/agregarServicios' class="edit" title="Agregar" data-toggle="tooltip"><i
                                    class="fas fa-plus"></i></a></th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
  