<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascota</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body class="bodyinicio">
    <header class="header" id="inicio">
        <img src="../img/hamburguesa.svg" alt="" class="hamburger">
        <nav class="menu-navegacion" >
            <a href="/sesion/loginregistro">Login / Registro</a>
            <a href="#servicios">Servicios</a>
            <a href="#galeria">Galeria</a>
            <a href="#contacto">¿Quienes Somos?</a>
            <a href="#contacto">Contacto</a>
                    </nav>
        <div class="contenedor head">
            <h1 class="titulo">Servicio De Mascotas A Tu Alcance</h1>
            <p class="copy">Estamos donde nos necesite tu mascota</p>
        </div>
    </header>
    <main>
        <section class="services contenedor" id="servicios">
            <h2 class="subtitulo">Nuestro Servicio</h2>
            <div class="contenedor-servicio">
                <img src="../img/imagen1.png" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Comida para mascotas</h3>
                        <p background="white">Sabemos lo importante que es tu mascota para tu familia por lo mismo te traemos el servicio de poder comprar comidad cerca de tu localidad, con solo un par de clicks.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>Veterinaria</h3>
                        <p>Poder llevar a tu mascota por su salud es nuestra prioridad, es por eso que te indicamos donde puedes encontrar la veterinaria mas cerca 
                            y poder saber que servicios te ofrecen.
                        </p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span>Juguetes para mascotas</h3>
                        <p>Nada mas agradable que ver a tu mascota feliz es por eso que te entregamos a tu alcance un servicio en el cual puedas elegir tus productos favoritos 
                            cuando quieras y donde quieras.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery" id="galeria">
            <div class="contenedor">
                <h2 class="subtitulo_2">Galeria</h2>
                <div class="contenedor-galeria">
                    <img src="../img/uno.jpg" alt="" class="img-galeria">
                    <img src="../img/dos.jpg" alt="" class="img-galeria">
                    <img src="../img/tres.jpg" alt="" class="img-galeria">
                </div>
            </div>
        </section>
        <section class="imagen-light">
        <img src="../img/close.svg" alt="" class="close">
        <img src="../img/dos.jpg" alt="" class="agregar-imagen">
        </section> 
        <section class="contenedor" id="expertos">
            <h2 class="subtitulo_3">Expertos en:</h2>
            <section class="experts">
                <div class="cont-expert">
                    <img src="../img/graficos.svg" alt="">
                    <h3 class="n-expert">Analizar</h3>
                </div>
                <div class="cont-expert">
                    <img src="../img/seo.svg" alt="">
                    <h3 class="n-expert">SEO</h3>
                </div>
                <div class="cont-expert">
                    <img src="../img/security.svg" alt="">
                    <h3 class="n-expert">Seguridad</h3>
                </div>
            </section>
        </section>
    </main>
    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">SVS MASCOTA</h2>
                <p>Somos expertos en mascotas</p>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/Animal-Food-104126047846315" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://twitter.com/search?q=perros&src=typeahead_click" class="social-media-icon">
                    <i class='bx bxl-twitter' ></i>
                </a>
                <a href="https://www.instagram.com/dogcatcl/?hl=es-la" class="social-media-icon">
                    <i class='bx bxl-instagram' ></i>
                </a>
            </div>
        </div>
        <div class="line"></div>

    </footer>

    <script src="/js/menu.js"></script>
    <script src="/js/lightbox.js"></script>
    <script>
const token = '{{token}}';
const us = '{{us}}';
console.log(token);
console.log(us);
localStorage.setItem('token',token);
localStorage.setItem('us',us);
</script>
</body>

</html>