<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascota</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body class="body">

<link rel="stylesheet" href="../css/estilo1.css" >
 <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/sesion/inicioCatalogo">Productos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/Sesion/inicioServicio">Servicios <span class="sr-only">(current)</span></a>
   
     
    </ul>
  </div>
  <div  align="center">
   <img src="https://img.icons8.com/office/40/000000/user.png"/><font size=3>{{us}}</font> 
  
  <script>
  function myFunction(){
    localStorage.removeItem('token');
    window.location.href="/";
  };
    </script>
     <a href="/editar/editarPerfil/{{token}}" class="boton">editar</a>
  <button class="boton" onclick="myFunction()">Cerrar Sesión

  </button>
 

   </div>   
    
</nav>
   
       
    
  </body>
    <script>
const token = '{{token}}';
// const token = localstorage.getItem('us');    Para otras paginas :D
// localStorage.removeItem('token');  Para deslogear

const us = '{{us}}';
console.log(token);
console.log(us);
localStorage.setItem('token',token);
localStorage.setItem('us',us);
</script>
</body>

</html>