<div class="container p-4">
    <h2 style="text-align: center;">Registrarse</h2>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form method="POST" autocomplete="off"  >
                        {{!-- Usuario --}}
                        <div class="mb-3">
                            <input type="text" class="form-control" id="Usuario" name="Usuario" placeholder="Usuario" autofocus
                                required>
                        </div>
                        {{!-- Correo --}}
                        <div class="mb-3">
                            <input type="email" class="form-control" id="CORREO" name="CORREO" placeholder="Correo@ejemplo.com" required>
                        </div>
                         {{!-- Contrase単a --}}
                        <div class="mb-3">
                            <input type="text" class="form-control" id="Password" name="password" placeholder="Contrase単a" required>
                           
                        </div>
                           {{!-- Confirmacion de contrase単a --}}
                         <div class="mb-3">
                            <input type="text" class="form-control" id="Password1" name="Password1" placeholder=" Confirmar Contrase単a" required>
                           
                        </div>
                       
                     
                       
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">
                                Agregar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
